==
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
    
        <link rel="stylesheet" href="{{[
            'assets/dist/semantic.min.css',
            'assets/less/magic.less'
        ]|theme }}" />
        {% styles %}
    </head>
    <body>
        <!-- Add your magic here -->
        {% page %}
        
        <script src="{{[
            'assets/js/vendor/jquery.min.js',
            'assets/dist/semantic.min.js',
            'assets/js/magic.js',
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>